@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* Variabel Warna */
:root {
  --primary-green: #2d8b57; /* SeaGreen */
  --secondary-green: #3cb371; /* MediumSeaGreen */
  --light-green-bg: #f0fff0; /* Honeydew */
  --dark-text: #333333;
  --light-text: #ffffff;
  --grey-bg: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--dark-text);
  background-color: var(--light-green-bg);
}

.bg-white {
  background-color: white;
}

header > nav {
  padding: 0.5rem;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}

header a {
  padding: 0.5rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--dark-text);
}

header h1 {
  flex-grow: 1;
  font-size: 1.5rem;
}

header h1 > a {
  color: var(--primary-green);
  font-weight: bolder;
}

footer {
  background-color: var(--primary-green);
  text-align: center;
  font-weight: 600;
  padding: 1rem;
  color: var(--light-text);
}

.hero {
  height: 60vh;
  background:linear-gradient(rgba(45, 139, 87, 0.7), rgba(60, 179, 113, 0.7)), url("img/run.jpg") no-repeat center center/cover;
  color: var(--light-text);
}

.hero h1 {
  font-size: 3rem;
}

.hero .center {
  gap: 1rem;
}

.center {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 0.8rem 1.5rem;
  font-weight: bold;
  text-decoration: none;
  background-color: var(--light-text);
  color: var(--primary-green);
  border-radius: 1.5rem;
}

#fitur, #artikel {
  max-width: 1600px;
  margin: 0 auto;
  padding: 3rem 0;
}

#fitur {
  text-align: center;
}

#fitur h2, #artikel h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: var(--primary-green);
}

#artikel a {
  text-decoration: none;
  color: var(--primary-green);
  font-weight: 600;
}

.card {
  text-decoration: none;
  color: var(--dark-text);
  border-radius: 0.5rem;
  flex: 1 1 250px;
  padding: 2rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  transition: all 300ms;
}

.card:hover {
  transform: translateY(-0.5rem);
}

.card-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 1.5rem;
}

#artikel .card {
  padding: 0;
}

#artikel .card > img {
  aspect-ratio: 16 / 9;
  height: 200px;
  object-fit: cover;
}

.row {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

@media screen and (max-width: 1600px) {
  #fitur, #artikel {
    padding: 1rem;
  }
}