@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* Variabel Warna */
:root {
  --primary-green: #2d8b57; /* SeaGreen */
  --secondary-green: #3cb371; /* MediumSeaGreen */
  --light-green-bg: #f0fff0; /* Honeydew */
  --dark-text: #333333;
  --light-text: #ffffff;
  --grey-bg: #f4f4f4;
  --bs-font-sans-serif: "Poppins" !important;
}

.text-green {
  color: #2d8b57 !important;
}

.bg-green {
  background-color: #2d8b57 !important;
}

.card img {
  aspect-ratio: 16 / 9;
  height: auto;
  width: 100%;
}

.hero {
  background: linear-gradient(rgba(45, 139, 87, 0.7),
      rgba(60, 179, 113, 0.7)),
    url("img/run.jpg") no-repeat center center/cover;
  padding: 6rem 0;
}