@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* Variabel Warna */
:root {
  --primary-green: #2d8b57; /* SeaGreen */
  --secondary-green: #3cb371; /* MediumSeaGreen */
  --light-green-bg: #f0fff0; /* Honeydew */
  --dark-text: #333333;
  --light-text: #ffffff;
  --grey-bg: #f4f4f4;
  --bs-font-sans-serif: "Poppins" !important;
}

.text-green {
  color: #2d8b57 !important;
}

.bg-green {
  background-color: #2d8b57 !important;
}

.aspect-video {
  aspect-ratio: 16 / 9;
  height: auto;
  width: 100%;
}

.hero {
    background: linear-gradient(rgba(38,162,105,0.9), rgba(38,162,105,0.9)),
                url("./img/bg-health.jpg");
    background-size: cover;
    background-position: center;
    padding: 80px 20px;
}

.hero-img {
    max-width: 100%;
    width: 700px;      /* ukuran gambar */
    border-radius: 15px;
    margin: 30px auto;
    display: block;
}
@media screen and (max-width: 800px) {
  html {
    font-size: 14px;
  }

  footer {
    font-size: 10px;
  }
}